$primary: #3D8EDA;
$bg-body: #f5f5f5;
$text-primary: #333;
$bg-white: #fff;
$border-light: #DEDEDE;
$bg-btn: #EBEBEB;
$active-icon: #C8C7C7;
$btn-border: #929292;
$shadow-color: rgba(0, 0, 0, 0.12);
$header-bg: rgba(255, 255, 255, 0.67);