@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
}


